Flask
flask-cors
firebase-admin
fireo
gunicorn
python-dotenv
redis
langchain
langchain-community
langchain-core
langgraph
langsmith
transformers
huggingface-hub
numpy
pandas
scipy
matplotlib
reportlab